.container {
  position: relative;
}

.text {
  border: 0.2em solid rgba(255, 255, 255, 0.3);
}

.glass {
  position: absolute;
  left: 0;
  top: 0;
  cursor: grab;

  width: 20rem;
  height: 10rem;

  background: rgba(255,255,255,0.25);

  backdrop-filter: blur(0.2rem);

  border: 0.2em solid rgba(255, 255, 255, 0.3);
  border-radius: 1rem;

  box-shadow:
    inset 0 2em 4em rgba(255, 255, 255, 0.25),
    inset 0 2em 4em rgba(255, 255, 255, 0.05),
    0 1em 2em rgba(0, 0, 0, 0.25);
}

.glass.dragging {
  cursor: grabbing;
}
