.loader {
  display: flex;
  align-items: center;
  justify-content: center;

  width: auto;
  height: 50%;
  gap: 0.75em;
}

.bar {
  width: 0.5rem;
  border-radius: 1em;
  background: #DAF4FFF0;
  opacity: 0;

  animation: wave 1.8s ease infinite;

  &:nth-child(1) {
    height: 1em;
    animation-delay: 0s;
  }

  &:nth-child(2) {
    height: 3em;
    animation-delay: 0.1s;
  }

  &:nth-child(3) {
    height: 5em;
    animation-delay: 0.2s;
  }

  &:nth-child(4) {
    height: 2em;
    animation-delay: 0.3s;
  }

  &:nth-child(5) {
    height: 3em;
    animation-delay: 0.4s;
  }

  &:nth-child(6) {
    height: 5em;
    animation-delay: 0.5s;
  }

  &:nth-child(7) {
    height: 4em;
    animation-delay: 0.6s;
  }

  &:nth-child(8) {
    height: 2em;
    animation-delay: 0.7s;
  }

  &:nth-child(9) {
    height: 1em;
    animation-delay: 0.8s;
  }
}

@keyframes wave {
  0%   { opacity: 0; }
  5%   { opacity: 1; }
  55%   { opacity: 1; }
  60%   {opacity: 0;}
  100% { opacity: 0; }
}
